menu {
    position: absolute;
    top: 0;
    left: -200px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}
 

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    background-color: white;
    padding: 2rem;
    height: 100vh;
    text-align: center;
}

.menu a {
    padding: 1rem;
    display: block;
    color: rgb(42, 41, 41);
    transition: 0.5s ease-in-out;
}

.menu a:hover{
    background-color: rgb(41, 40, 40);
    color: white;
}


.ex i {
    font-size: 2rem;
    padding-bottom: 2rem;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.hero {
    padding: 2rem;
}

.para {
    line-height: 1.5rem;
    color: rgb(55, 54, 54);
    text-align: justify;
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.hero-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-container {
    margin-left: 5rem;
    padding: 1rem;
}

.left-container .para {
    border-bottom: 2px solid gray;
    padding: 2rem 0rem;
}






.second {
    background-color: white;
    padding: 2rem;
    margin-top: -100px;
}

.second-title {
    padding: 2rem;
    margin-bottom: 5rem;
}

.box-img {
    height: 200px;
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.box-info {
    padding: 1rem;
}


footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    background-color: black;
}

footer > div {
    padding: 1rem;
}

@media only screen and (max-width: 768px) {
    .hero-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .left-container {
        margin-left: 2rem;
    }

    .second-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
        background-color: black;
    }
 }
  
